<h2>this is item</h2>
<div ng-repeat="items in cats" >
<input type="text" name="image" ng-model="newItem.image" placeholder="Item Image Link" value="{{newItem.image}}"><br>
<input type="text" name="name" ng-model="newItem.name" placeholder="Product Name" value="{{newItem.name}}"><br>
<input type="text" name="price" ng-model="newItem.price" placeholder="Price" value="{{newItem.price}}"><br>
<input type="text" name="description" ng-model="newItem.description" placeholder="Description" value="{{newItem.description}}"><br><br>
<div ng-repeat="items in eNip">
