body {
  padding: 0;
  margin: 0 auto;
  font-family: 'Lato', sans-serif; }

h1 {
  position: absolute;
  font-family: 'Lato', sans-serif;
  font-size: 90px;
  padding-left: 30px; }

h2 {
  font-size: 50px; }

.myArticles {
  text-align: center;
  vertical-align: top; }

@keyframes colors {
  0% {
    color: #ff1aff; }
  15% {
    color: #ff80ff; }
  20% {
    color: #ff00bf; }
  30% {
    color: #b300b2; }
  40% {
    color: #ff1aff; }
  45% {
    color: #ff80ff; }
  50% {
    color: #ff00bf; }
  55% {
    color: #b300b2; }
  60% {
    color: #ff1aff; }
  75% {
    color: #ff80ff; }
  90% {
    color: #ff00bf; }
  100% {
    color: #b300b2; } }

.cool {
  width: 100px;
  height: 100px;
  animation-name: colors;
  animation-duration: 10s;
  color: #ff00bf; }

.coolToo {
  padding-left: 80%;
  padding-top: 20%;
  width: 100px;
  height: 100px;
  animation-name: colors;
  animation-duration: 30s; }

.mainBtn {
  position: absolute; }

button {
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  background-color: #ff00bf;
  border-color: 2px solid #ff00bf;
  border-style: none;
  color: white;
  padding: 20px;
  border-radius: 60%;
  font-weight: bold; }

a {
  color: white;
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0; }

.login {
  position: relative;
  margin: 0 auto;
  text-align: center;
  vertical-align: bottom; }

.anItem {
  padding: 0;
  margin: 0 auto;
  text-align: center;
  font-size: 45px; }
  .anItem input {
    width: 400px;
    height: 50px;
    font-size: 20px; }

article {
  margin: 0 auto;
  display: inline-block;
  padding: 10px; }
  article img {
    max-height: 300px; }

.babyBtn {
  font-size: 12px;
  padding: 5px; }

h2, h3, h4, h5 {
  color: #ff00bf;
  padding: 0; }

h3 {
  padding-left: 20px;
  font-size: 38px; }

.theItemView {
  margin: 0 auto;
  text-align: center;
  width: 90%;
  display: inline-block;
  padding: 0; }
  .theItemView img {
    max-height: 400px; }

.theViewBtn {
  display: inline-block;
  padding: 15px;
  font-size: 20px; }

.toSide {
  display: inline-block;
  margin: 0 auto;
  padding-top: 100px;
  text-align: center;
  vertical-align: top; }

.cartBtn {
  text-align: right;
  font-size: 15px;
  vertical-align: top; }

.header {
  padding-left: 15px;
  font-family: 'Lato', sans-serif;
  font-size: 90px;
  background-color: #ff00bf;
  color: white; }
  .header h1, .header h2, .header h3 {
    color: white;
    padding: 0; }
  .header h3 {
    font-size: 24px;
    padding: 5px;
    padding-bottom: 15px; }

.theItems {
  margin: 0 auto;
  text-align: center;
  vertical-align: top; }
