<section class="header">
<h3>Add More Products</h3>
<a href="#/shop"><button class="cartBtn" type="" name="">Back to Customer View</button></a>

</section>
<div class="anItem">
      <input type="text" name="image" ng-model="newItem.image" placeholder="Item Image Link" value=""><br>
      <input type="text" name="name" ng-model="newItem.name" placeholder="Product Name" value=""><br>
      <input type="text" name="price" ng-model="newItem.price" placeholder="Price" value=""><br>
      <input type="text" name="description" ng-model="newItem.description" placeholder="Description" value=""><br><br>
<button type="button" name="button" ng-click="addItem(newItem)">Create Item</button>
</div>

<article ng-repeat="item in cats" >
<img ng-src="{{item.image}}" data-id="{{item.id}}">
<h4>{{item.name}}</h4>
<h5 style="font-style:italic;">{{item.price | currency}}</h5>
<p>{{item.description}}</p>
<button class="babyBtn" type="button" name="button" ng-click="editItem(item)">Edit</button> <p> or</p>
<button class="babyBtn" type="button" name="button" ng-click="deleteItem(item)">Delete</button>
</article>
